.floating-menu{
    position:fixed;
    right:35px;
    bottom:25px;
    z-index:999;
}

/* Plus Button */

.fab{
    width:70px;
    height:70px;
    border:none;
    border-radius:50%;
    cursor:pointer;
    text-align:center;
    font-size:24px;
    font-weight:bold;
    color:white;
    background:linear-gradient(135deg,#7c3aed,#9d6bff);
    box-shadow:0 12px 30px rgba(124,58,237,.45);
    transition:.35s;
}



/* Popup */

.floating-links{

    position:absolute;

    right:0;
    bottom:75px;

    display:flex;
    flex-direction:column;
    gap:10px;

    animation:popup .5s ease;
}

.floating-links a{

    text-decoration:none;

    color:white;

    background:#14213d;

    padding:12px 18px;

    border-radius:12px;

    min-width:180px;

    transition:.3s;

    box-shadow:0 8px 20px rgba(0,0,0,.3);
}

.floating-links a:hover{

    background:#7c3aed;

    transform:translateX(-5px);
}

@keyframes popup{

    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}